@import 'reset';
// HEADERSFont-Family: 'Nunito', Sans-Serif;

// TEXTFont-Family: 'PT Sans', Sans-Serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'PT Sans', Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}
html {
  height: 100%;
}
ul,
li {
  list-style-position: inside;
}

h1,
button {
  font-family: 'Nunito', Arial, sans-serif;
}
p,
li {
  font-family: 'PT Sans', 'Lucida Grande', sans-serif;
}

//mixins:
@mixin findMe($bc, $bgc) {
  border: 1px solid $bc;
  background-color: $bgc;
}
// START ugly styles for finding my bits and bobs:
header,
footer {
  @include findMe(rgb(123, 255, 0), #800080);
}
main {
  @include findMe(#eb1290, #fa7d09);
}
aside {
  @include findMe(#0051ff, #08b908);
}
section {
  @include findMe(#a100ff, #b90817);
}
// END ugly styles for finding my bits and bobs

// GRID YOUR LOINS GRID YOUR LOINS GRID YOUR LOINS
// GRID YOUR LOINS GRID YOUR LOINS GRID YOUR LOINS
// GRID YOUR LOINS GRID YOUR LOINS GRID YOUR LOINS
.site {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6rem 1fr 5rem;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-gap: 1em;
  height: 100%;
}
header {
  grid-area: header;
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 4rem 1fr; // for mobile
  grid-gap: 1em;

  width: 100%;
}
section {
  grid-column: 2 / span 3;
  overflow-y: scroll;
  max-height: 100%;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1em;
}
form {
  grid-column: 1 / span 7;
}
input {
  width: 85%;
}
header,
main,
footer {
  grid-column: 1 / span 5;
}
